<% layout('./Layouts/boilerplate') -%>



    <form method="post" action="/euro/<%= moment._id %>?_method=PATCH">
        <h1>Edit your comment here <%= moment.username %>
        </h1>
        <textarea id="balls" name="opinion" style="width: 100%; height:   100%;"> <%= moment.opinion %> </textarea>
        <button> Submit</button>
    </form>