<% layout('./Layouts/boilerplate') -%>



    <form method="post" action="/euro/index">
        <h1>Add a comment here</h1>
        <textarea id="balls" name="opinion" style="width: 100%; height:   100%;"></textarea>
        <p style="border-radius: 16px;"> Add a comment as : </p>
        <textarea type="text" name="username" style="width: 80%; height:   100%;"></textarea>
        <button> Submit</button>
    </form>