@tailwind components;
@tailwind utilities;
@tailwind base;
.btneuro {
  border-radius: 22px;
  background-color: #f9bf4b;
  box-shadow: none;
  align-self: center;
  border: 1px solid transparent;
  display: inline-block;
  margin: 1px;
  font-size: 15px;
  padding: 6px;
  font-family: "UEFA Euro", Arial, sans-serif;
  font-weight: 422;
  filter: brightness(0.79);
  transition: color 0.5s;
}
.proftext {
  font-family: "UEFA Euro", Arial, sans-serif;
  background-color: rgb(190, 19, 19);
  display: inline-block;
  padding: 10px;
  border-radius: 14px;
  color: wheat;
  font-weight: 422;
  border-radius: 22px;
}
span {
  font-family: "UEFA Euro", Arial, sans-serif;
  display: inline-block;
  border-radius: 9px;
  color: wheat;
  font-weight: 422;
}

/* Active link styles */
.active-link {
  background-color: green;
  font-weight: bold;
  color: wheat;
  zoom: 1.3;
  filter: brightness(1);
}
